.table {
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  float: left;
  margin-left: 5%;
  width: 60% !important;
  font-size: 20px;
  color: lightgoldenrodyellow !important;
}

.edit {
  background-color: cadetblue;
}

.delete {
  background-color: cadetblue;
}
