.table {
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  float: left;
  margin-left: 5%;
  width: 50% !important;
}

.edit {
  background-color: red;
}

.delete {
  background-color: blue;
}



